body {
  background-color: #e4e4e4;
}

.firstSection {
  position: relative;
  height: 85vh;
  width: 100%;
  clip-path: polygon(100% 0px, 100% 71.68%, 66.16% 100%, 0px 76.74%, 0px 0px);
  z-index: 4;
}

.background {
  background: rgba(0, 0, 0, 0.1) url("../image/spider.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
