@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
  /* font-family: -apple-system, BlinkMacSystemFont; */
  box-sizing: border-box;
  height: 100vh;
  background: rgb(255, 153, 102);
  background: linear-gradient(
    90deg,
    rgba(255, 153, 102, 1) 9%,
    rgba(255, 94, 98, 1) 83%
  );
}
video {
  width: 100%;
  height: auto;
}
.firstSection {
  position: relative;
  width: 100%;
  height: auto;
  width: 100%;
  clip-path: polygon(100% 0px, 100% 71.68%, 66.16% 100%, 0px 76.74%, 0px 0px);
  /* clip-path: polygon(100% 0px, 100% 61.96%, 54.99% 88.46%, 0 64.78%, 0px 0px); */
  z-index: 4;
}

.background {
  /* background: url("../image/spider.jpg"); */
  background-size: cover;
  background-blend-mode: darken;
}

.cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

“Segoe UI”,
Roboto,
Helvetica,
Arial,
sans-serif,
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.menu__container {
  width: 200px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  margin-bottom: 50px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 10px 40px 2px rgba(0, 0, 0, 0.4);
  background: #000;
  transform-origin: center center 0px;
  transition: all 0.5s ease-out;
  animation-name: animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
  z-index: 1;
}
.menu__container:hover {
  animation: unset;
  margin-top: 18vh;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.menu__container .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 100%;
  color: black;
}
.card-img {
  padding: 10px 10px 10px 10px;
  max-width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* Card Why RAF */
.element {
  align-items: center;
  margin-left: 500px;
  margin-top: 50px;
  padding: 100px;
  background-color: linear-gradient(to right, #ff9966, #ff5e62);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  display: flex;
  height: 400px;
  justify-content: center;
  margin-right: 4rem;
  width: 500px;
}
.img-text {
  margin: 100px;
}
.photo,
.content {
  display: table-cell;
  vertical-align: middle;
}
.photo {
  width: 40%;
}
.photo img {
  max-width: 100%;
  height: auto;
}
/*Slider*/

/*Floating Button to the top*/
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ff9966;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 20;
  box-shadow: 0px 0px 13px rgb(0 0 0 / 63%);
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #000000;
}
#scroll:hover {
  background-color: #e74c3c;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
/* @-moz-keyframes animate {
  0% {
    margin-top: 20vh;
  }
  50% {
    margin-top: 18vh;
  }
  100% {
    margin-top: 20vh;
  }
}
@-webkit-keyframes animate {
  0% {
    margin-top: 20vh;
  }
  50% {
    margin-top: 18vh;
  }
  100% {
    margin-top: 20vh;
  }
}
@-o-keyframes animate {
  0% {
    margin-top: 20vh;
  }
  50% {
    margin-top: 18vh;
  }
  100% {
    margin-top: 20vh;
  }
}
@keyframes animate {
  0% {
    margin-top: 20vh;
  }
  50% {
    margin-top: 18vh;
  }
  100% {
    margin-top: 20vh;
  }
} */
