.modal-content {
  height: 92%;
  width: 92%;
  margin-left: 56px;
  margin-top: 20px;
  color: white;
  background: black;
  display: inline;
  opacity: 0;
}

.modalDisplay {
  z-index: 10;
  position: absolute;
  color: white;
  left: 92vw;
  text-shadow: none;
  opacity: 1;
  font-size: 35px;
}

.modalDisplay:hover {
  color: rgba(255, 94, 98, 1);
}
@media (min-width: 1200px) {
  .modal-xl {
    display: inline;
  }
}

.modal-body {
  margin: 1rem;
  padding: 0;
}

video {
  width: 100%;
  height: auto;
}
